/* NOTES:

CSS tags, class, id
  tag normal - used for general styling
  class .class - used for more than one item per/throughout page
  id #id - used for one thing, making it special and it won't happen anywhere else on the page

div - used for placement and layout of site; used as groups, ex: main vs. sidebar
  div id="name"

span - used for specific changes within code, working on a little piece of code you want to tweak

links - different types of links to call in css
  a:link{
    text-decoration: ;
    color: ;
  }

  a:visited{

  }

  a:hover{

  }

CSS box model
  margin:
  border:
  padding:
  content:
  define width of content with width: xpx;
  TRBL - top, right, bottom, left

*/

/* FONTS
Font-Family: 'Playfair Display', Serif; Font-Size: 48px;
Font-Family: 'Source Sans Pro', Sans-Serif; Font-Size: 16px; */


/* NAVIGATION STYLING */
#nav {
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif; font-size: 16px; text-transform: uppercase;
/* Removes bullets */
  list-style-type: none;
}

#nav li {
  border-bottom: 1px solid white;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #FCD303;
  background-color: #fff;
  text-align: center;
  padding: 6px;
}

#nav a:hover, a:active {
  color: #fff;
  background-color: #FCD303;
}


/* FONT STYLING */
h1 {
  font-family: 'Playfair Display', Serif; font-size: 48px; font-weight: bold; font-style: italic;
}

h2 {
  font-family: 'Playfair Display', Serif; font-size: 32px; font-weight: bold; font-style: italic;
}

h3 {
  font-family: 'Playfair Display', Serif; font-size: 28px; font-style: italic;
}

p {
  font-family: 'Source Sans Pro', sans-serif; font-size: 16px;
}

.caption {
  font-family: 'Playfair Display', Serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  padding: 10px;
}

#footer {
  font-family: 'Playfair Display', Serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 0;
  padding: 10px;
  background-color: #ccc;
}
