/* NOTES:

CSS tags, class, id
  tag normal - used for general styling
  class .class - used for more than one item per/throughout page
  id #id - used for one thing, making it special and it won't happen anywhere else on the page

div - used for placement and layout of site; used as groups, ex: main vs. sidebar
  div id="name"

span - used for specific changes within code, working on a little piece of code you want to tweak

links - different types of links to call in css
  a:link{
    text-decoration: ;
    color: ;
  }

  a:visited{

  }

  a:hover{

  }

CSS box model
  margin:
  border:
  padding:
  content:
  define width of content with width: xpx;
  TRBL - top, right, bottom, left

MEDIA QUERIES

#container {
  width: 80%;
  maximum-width:
}

^^^This helps allow some white space on left and right of content

*/

/* FONTS
Font-Family: 'Playfair Display', Serif; Font-Size: 48px;
Font-Family: 'Source Sans Pro', Sans-Serif; Font-Size: 16px; */

/* BLUE: #2E54FF
YELLOW: #FFD419
WHITE: #F8F8FB
GREEN-BLUE: #B8DBD9
NAVY: #28536B */


/* NAVIGATION STYLING */
#nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

body {
  text-align: center;
  background-color: #F8F8FB;
  font-size: 16px;
  padding: 2em;
  margin: 0;
}

img {
  border: none;
  max-width: 100%;
}

#nav {
  padding: 10px;
  font-family: 'Montserrat', Helvetica, sans-serif; font-size: 16px; text-transform: uppercase;
/* Removes bullets */
  list-style-type: none;
}

.header {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header #nav {
  display: none;
}

.menu-trigger {
  justify-content: flex-end;
  font-size: 28px;
  align-self: center;
}

#nav li {
  border-bottom: 1px solid white;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #2E54FF;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 6px;
  text-decoration: none;
  border-bottom: 1px solid;
}

#nav a:hover, #nav a:active {
  color: #F8F8FB;
  background-color: #FFD419;
}

a:link, a:visited {
  color: #2E54FF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #B8DBD9;
}

.infoheader {
  background-color: #FFD419;
  max-width: 100%;
  padding: 100px;
  margin-bottom: 30px;
}


/* FONT STYLING */
h1 {
  font-family: 'Playfair Display', Helvetica, sans-serif; font-size: 2em; font-weight: bold; font-style: italic; color: #2E54FF;
}

h2 {
  font-family: 'Playfair Display', Helvetica, sans-serif; font-size: 1.7em; font-weight: bold; font-style: italic; color: #2E54FF;
}

h3 {
  font-family: 'Playfair Display', Helvetica, sans-serif; font-size: 1.7em; font-style: italic; color: #2E54FF;
}

h4 {
  font-family: 'Montserrat', Helvetica, sans-serif; font-size: 1.3em; text-transform: uppercase; letter-spacing: 4px; color: #28536B; text-decoration: underline;
}

h5 {
  font-family: 'Montserrat', Helvetica, sans-serif; font-size: 1em; text-transform: uppercase; letter-spacing: 1px; color: #28536B; text-decoration: underline;
}

h6 {
  font-family: 'Roboto', Helvetica, sans-serif; font-size: 1em; font-weight: bold; text-transform: uppercase; color: #28536B;
}

p {
  font-family: 'Source Sans Pro', Helvetica, sans-serif; font-size: 1em; color: #28536B;
}

.caption {
  font-family: 'Playfair Display', Times, Serif;
  font-size: 13px;
  color: #28536B;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
}

#footer {
  font-family: 'Playfair Display', Times, Serif;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0em;
  padding: 20px;
  background-color: #FFD419;
  color: #28536B;
}


/* -----MEDIA QUERIES----- */

@media screen and (min-width:599px){
  body {
    font-size: 1em;
  }
  #nav {
    flex-direction: row;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width:799px){
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .menu-trigger {
    display: none;
  }
  #nav li {
    padding-right: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header #nav {
    display: flex;
  }
}

@media screen and (min-width:899px){
  .footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media screen and (min-width:1099px){
  body {
    max-width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media screen and (min-width: 1399px){
  body {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
